.about {
  padding: 4.49% 0 5.83% 5.16%;
  display: flex;
  background-color: #f9f8f8;
  justify-content: center;
}

.about_content {
    margin-top: 100px;
  max-width: 710px;
  padding-right: 20px;
}

.about_img img {
  display: block;
  width: 100%;
}

.info_img {
  position: relative;
  width: 101px;
  padding: 23px 28px 32px 28px;
  background-color: #fff;
  border-radius: 20px;
}

.info_img img {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
}

.circle {
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  left: 21px;
  top: 32px;
  border-radius: 100%;
  background-color: #fff4cd;
}

.circle2{
    top: 42px;
    left: 21px;
}

.info{
    display: flex;
    gap: 19px;
}

.about_content h2{
  text-align: left;
   margin: 8px 0 14px; 
}

.info_container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 46px 0;
}

