.button{
    width: 240px;
    height: 80px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    font-family: var(--second-font);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

