.hero {
  padding: 12.686% 13.5%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.second_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero h1 {
  margin: 8px 0 23px;
}

.default_hero{
  max-width: 1940px;
  margin: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.default_hero h1{
  padding: 10%;
}
