.news{
    display: flex;
    justify-content: space-between;
    padding: 7.94% 20px;
    max-width: 1440px;
    margin: auto;
}

.new_block{
    padding: 110px 55px;
    width: 682px;
    border-radius: 30px;
}

.new_block h3{
    margin-top: 5px;
    width: 265px;
}