.error_page{
    padding: 11.032%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 30%;
    padding-right: 10%;
    margin-bottom: 6.71%;
}

.error_page > div{
     margin-left: auto;
     max-width: 533px;
}

.error_page h1{
    margin: 14px 0 9px;
     text-align: center;
}

.error_page p{
    margin-bottom: 36px;
}


