.our_products{
    padding: 9.073% 0 10.83% 0;
    max-width: 1440px;
    margin: auto;
}

.btn{
    margin-top: 122px;

}

.btn button{
    margin: auto;
}

.our_products p{
    text-align: center;
}
.our_products h2{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 8px;
}
