:root {
  /* COLORS */

  --title-color: #274c5b;
  --green: #7eb693;
  --yellow: #EFD372;
  --grey: #d4d4d4;
  --white: #f9f8f8;
  --lite-green: #eff6f1;
  --dark-grey: #525c60;

  /* FONTS */

  --main-font: "Open Sans";
  --second-font: Roboto;
  --third-font: Yellowtail;
}

body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
  font-family: var(--second-font);
  color: var(--title-color);
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 30px;
}

h6 {
  font-size: 25px;
}

p {
  line-height: 165.4%;
  font-size: 18px;
  font-weight: 400;
  color: #525c60;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #525c60;
  display: inline-block;
}

.subtitle {
  color: #7eb693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
